@model MVCDemo.Models.Employee
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@*@Html.Partial("../Partial/Profile")*@


@Html.Partial("../Partial/Profile", Model, new ViewDataDictionary { { "Name", "Abc" }, { "City", "2 stt Mississauga" } })
